@font-face {
    font-family: drunk;
    src: url(./Druk-Heavy.woff2);
}

@font-face {
    font-family: yank;
    src: url(./yank-webfont.woff2);
}

* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    background-color: rgb(249, 242, 232);
    overflow-x: hidden;
}

#page-1 {
    /* position: relative; */
    display: flex;
    height: 150vh;
    width: 100vw;
}

#left {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 5%;
    /* background-color: darkblue; */
    border-right: 3px solid #000;
}

#left>i {
    font-size: 22px;
    margin-top: 30px;
}

#right {
    height: 100%;
    width: 95%;
    /* background-color: red; */
}

#right #nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    /* background-color: red; */
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 200px;
    /* background-color: blue;  */
}

#logo img {
    height: 40%;
}

#order {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 150px;
    margin-right: 30px;
    background-color: #810A1E;
}

#order h1 {
    font-size: 20px;
    color: #fff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
}

#right #page-1-center {
    height: calc(100% - 100px);
    width: 100%;
    /* background-color: blue; */
}

#text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    color: #a20c25;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
    word-spacing: -15px;
    font-size: 9vw;
    text-align: center;
    line-height: 1;
    font-weight: 100;
}

#right #page-1-center img {
    position: fixed;
    /* position: absolu te; */
    height: 45vw;
    z-index: 999999999;
    left: 36vw;
    top: 10vh;
    filter: drop-shadow(20px 20px 40px);
}

#page1-center-left {
    height: 450px;
    width: 30%;
    /* background-color: red; */
    margin-left: 2.5%;
    position: absolute;
    top: 80%;
}


#page1-center-left h3 {
    font-family: yank;
    font-weight: 100;
}

#page1-center-left h2 {
    font-family: drunk;
    font-weight: 1;
    font-size: 80px;
    line-height: 1;
    width: 50%;
    text-transform: uppercase;
}

#page1-center-left button {
    height: 40px;
    width: 90px;
    font-family: drunk;
    letter-spacing: 1px;
    background-color: black;
    color: #fff;
    margin-top: 20px;
}

#page1-center-right {
    height: 570px;
    width: 30%;
    border: 2px solid #000;
    /* background-color: red; */
    position: absolute;
    right: 1%;
    top: 80%;
    padding: 30px;
}

#page1-center-left-child {
    height: 100%;
    width: 100%;
    /* background-color: yellow; */
}

#section1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 15%;
    width: 100%;
    /* background-color: red; */
    border-bottom: 2px solid #000;
}

#section1 h2 {
    font-family: drunk;
    font-weight: 100;
}

#section2 {
    display: flex;
    height: 28%;
    width: 100%;
    /* background-color: blue;      */
    border-bottom: 2px solid #000;
}

#section2-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 40%;
    /* background-color: red; */
}

#section2-left-top h1 {
    font-family: drunk;
    font-size: 50px;
    font-weight: 100;
}

#section2-left-bottom {
    line-height: 1;
}

#section2-left-bottom h2 {
    font-family: drunk;
}

#section2-left-bottom h4 {
    font-weight: 100;
}

#section2-right {
    height: 100%;
    width: 60%;
    /* background-color: yellow; */
}


#section2-right p {
    margin-top: 20px;
}

#section3 {
    display: flex;
    height: 28%;
    width: 100%;
    /* background-color: red; */
    border-bottom: 2px solid #000;
}


#section3-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 40%;
    /* background-color: red; */
}

#section3-left-top h1 {
    font-family: drunk;
    font-size: 50px;
    font-weight: 100;
}

#section3-left-bottom {
    line-height: 1;
}

#section3-left-bottom h2 {
    font-family: drunk;
}

#section3-left-bottom h4 {
    font-weight: 100;
}

#section3-right {
    height: 100%;
    width: 60%;
    /* background-color: yellow; */
}

#section3-right p {
    margin-top: 20px;
}

#section4 {
    display: flex;
    height: 29%;
    width: 100%;
    /* background-color: blue; */
}

#section4-left {
    height: 100%;
    width: 40%;
    /* background-color: darkblue; */
}

#section4-left h1 {
    font-family: drunk;
    font-weight: 100;
    font-size: 43px;
    margin-top: 20px;
}

#section4-right {
    height: 100%;
    width: 60%;
    /* background-color: red; */
}

#section4-right p {
    margin-top: 20px;
}

#page2 {
    display: flex;
    height: 120vh;
    width: 100vw;
}

#page2-left {
    height: 100%;
    width: 5%;
    border-right: 3px solid #000;
}

#page2-right {
    position: relative;
    height: 100%;
    width: 95%;
    /* background-color: red; */
}

#page2-right h1 {
    font-family: drunk;
    text-transform: uppercase;
    color: rgb(163, 21, 21);
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 26vw;
    font-weight: 100;
}

#page2-center-left {
    position: absolute;
    top: 50%;
    height: 400px;
    margin-left: 2.5%;
    width: 28%;
    /* background-color: blue; */
}

#page2-center-left #video {
    height: 80%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1664575197593-2e7085ef086b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
    background-size: cover;
}

#page2-center-left #video button {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    font-size: 30px;
    background-color: #a20c25;
    color: #fff;
    border: none;
    width: 60px;
    border-radius: 50%;
}

#page2-center-left h2 {
    font-family: yank;
    line-height: 1;
    margin-top: 10px;
}


#page2-center-right {
    width: 25%;
    position: absolute;
    top: 50%;
    right: 10%;
}


#page2-center-right>p {
    position: relative;
    font-weight: bold;
    font-family: "gilroy";
}

#page2-center-right>h2 {
    margin-top: 30px;
    margin-bottom: 15px;
    font-family: drunk;
    text-transform: uppercase;
}

#page2-center-right>h5 {
    font-weight: 100;
    letter-spacing: .5px;
    margin-top: 10px;
}

#page3 {
    display: flex;
    position: relative;
    height: 100vh;
    width: 100%;
}

#page3-left {
    height: 100%;
    width: 5%;
    border-right: 3px solid #000;
}

#page3-right {
    position: relative;
    height: 100%;
    width: 95%;
    /* background-color: red; */
}

#page3-img1 {
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    height: 26vw;
    width: 26vw;
    background-image: url(https://lagunitas.com/wp-content/uploads/2021/08/splat-red.png);
    background-size: cover;
}

#page3-img1-content{
    margin-left: 30%;
    margin-top: 10%;
    color: white;
}

#page3-img1-content>h4 {
    text-align: center;
    position: relative;
    letter-spacing: .04em;
    font-size: 2.5vw;
    padding-bottom: 5px;
    font-weight: 500;
    font-family: drunk;
    font-weight: 100;
    margin-bottom: 9px;
}

#page3-img1-content>h4::after{
    content: "";
    position: absolute;
    height: 1px;
    width: 35%;
    top: 90%;
    left: 32%;
    background-color: white;
}

#page3-img1-content>p{
    width: 85%;
    font-size: 1.2vw;
    text-align: center;
    font-family: "gilroy";
    font-weight: 500;
}

#page3-img2 {
    position: absolute;
    top: 0%;
    right: 10%;
    height: 30vw;
    width: 30vw;
    /* background-color: red; */
    background-image: url(https://lagunitas.com/wp-content/themes/lagunitas/assets/images/splat-black.png);
    background-size: cover;
}

#page3-img2-content{
    margin-left: 32%;
    margin-top: 13%;
    color: white;
}

#page3-img2-content>h4 {
    text-align: center;
    position: relative;
    letter-spacing: .04em;
    font-size: 2.5vw;
    padding-bottom: 5px;
    font-weight: 500;
    font-family: drunk;
    font-weight: 100;
    margin-bottom: 9px;
}

#page3-img2-content>h4::after{
    content: "";
    position: absolute;
    height: 1px;
    width: 65%;
    top: 90%;
    left: 16%;
    background-color: white;
}

#page3-img2-content>p{
    position: relative;
    width: 85%;
    font-size: 1.3vw;
    text-align: center;
    font-family: "gilroy";
    font-weight: 500;
}


#page3-img3 {
    position: absolute;
    left: 25%;
    bottom: 10%;
    right: 0%;
    height: 30vw;
    width: 30vw;
    background-image: url(https://lagunitas.com/wp-content/uploads/2021/08/splat-red.png);
    background-size: cover;
}

#page3-img3-content{
    margin-left: 27%;
    margin-top: 20%;
    color: white;
}

#page3-img3-content>h4 {
    text-align: center;
    position: relative;
    letter-spacing: .04em;
    font-size: 2.5vw;
    padding-bottom: 5px;
    font-weight: 500;
    font-family: drunk;
    font-weight: 100;
    margin-bottom: 9px;
}

#page3-img3-content>h4::after{
    content: "";
    position: absolute;
    height: 1px;
    width: 45%;
    top: 90%;
    left: 26%;
    background-color: white;
}

#page3-img3-content>p{
    position: relative;
    width: 85%;
    font-size: 1.3vw;
    text-align: center;
    font-family: "gilroy";
    font-weight: 500;
}

#page3 img{
    position: absolute;
    height: 30vw;
    bottom: 0%;
    left: 2%;
    transform: rotate(-15deg);
    object-fit: cover;
}

#page4{
    position: relative;
    display: flex;
    height: 118vh;
    width: 100%;
}

#page4-left{
    height: 100%;
    width: 5%;
    border-right: 3px solid #000;
}

#page4-right{
    position: relative;
    height: 100%;
    width: 95%;
}

#page4-right h1{
    font-family: drunk;
    text-align: center;
    font-size: 20vw;
    color: #a20c25;
    font-weight: 100;
}

#page4-right-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1;
    margin-top: 7%;
}

#page4-right-content h5{
    font-family: yank;
    font-size: 3vw;
    font-weight: 100;
}

#page4-right-content h1{
    font-family: drunk;
    font-size: 6vw;
}


.imges{
    display: flex;
    justify-content: center;
    gap: 3%;
}

.imges img{
    width: 100%;
}

.page4-img{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.page4-img h5{
    font-size: 20px;
}

#img2{
    opacity: 0;
    rotate: -15deg;
    width: 60%;
}